<div th:fragment="componente" class="container mt-5">
    <h1 class="mb-4">Asignar Sección y Curso a Docente</h1>
    <form th:action="@{/docentes/asignarCursoSeccion}" th:object="${detalleCursoSeccion}" method="post" class="row shadow">
        
        <!-- Campos de curso y año -->
        <div class="row justify-content-center g-4">
            <div class="col-md-4">
                <label class="form-label">Nombre del Curso:</label>
                <select name="cursoId" class="form-select">
                    <option value="">Seleccione curso</option>
                    <option th:each="curso : ${listaCursos}" 
                            th:value="${curso.idCurso}" 
                            th:text="${curso.nombreCurso}">
                    </option>
                </select>
            </div>
        </div>

        <div class="row justify-content-center g-4 mt-2">
            <div class="col-md-4">
                <label class="form-label">Docente:</label>
                <select name="docenteId" class="form-select">
                    <option value="">Seleccione docente</option>
                    <option th:each="docente : ${docente}" 
                            th:value="${docente.idDocente}" 
                            th:text="${docente.nombreDocente}"></option>
                </select>
            </div>
            <div class="col-md-4">
                <label class="form-label">Sección:</label>
                <select name="seccionId" class="form-select">
                    <option value="">Seleccione sección</option>
                    <option th:each="seccion : ${secciones}" 
                            th:value="${seccion.idSeccion}" 
                            th:text="${seccion.gradoSeccion + ' ' + seccion.nombreSeccion + ' - ' + seccion.turnoSeccion}"></option>
                </select>
            </div>
        </div>

        <!-- Botones -->
        <div class="col-12 d-flex justify-content-center mt-5 mb-5">
            <a th:href="@{/usuarios/dashboard?seccion=docentes}" class="btn btn-secondary px-4 py-2 shadow-sm me-5">
                <i class="bi bi-arrow-left me-2"></i>Regresar
            </a>

            <button type="submit" class="btn btn-primary px-4 py-2 shadow-sm me-5">Guardar</button>
        </div>
    </form>
</div>
