<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas - Dashboard</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div th:fragment="componente" th:remove="tag">
    <main>
        <section>
            <div th:if="${cursos}">
                <h2>Lista de Cursos y Notas</h2>
                <div th:each="curso : ${cursos}">
                    <div>
                        <h3 th:text="${curso.nombreCurso}"></h3>
                        <p th:if="${curso.notas != null}" th:text="'Nota: ' + ${curso.notas}"></p>
                        <p th:if="${curso.notas == null}">Nota no asignada</p>
                    </div>
                </div>
            </div>
            <div th:if="${cursos == null or #lists.isEmpty(cursos)}">
                <p class="fs-1 fw-bold mt-3 text-center">Bienvenido, aún no se te asignan tus cursos</p>
            </div>
        </section>
    </main>
</div>
</body>
</html>