body {
    margin: 0;
    box-sizing: border-box;
    background-image: url("../img/colegio.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    background-color: rgba(157, 157, 157, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: auto;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    font-weight: 600;
    outline: none;
}

.btn-primary {
    background-color: rgb(133, 143, 68) !important;
    border-color: rgb(92, 99, 49) !important;
}